<article>

<header>
    <div class="container">
        <div class="intro">
            <p class="intro__pre">Hello</p>
            <p class="intro__main">My name is <span>Carlo Wiesse</span>, a computer vision engineer who loves robots, drones and machine learning</p>
            <p class="intro__post">Singapore</p>
        </div>
    </div>
</header>

  <!--header>
    <h1>About me</h1>
  </header>
  
  <section>
    <style type="text/css">
      #wrap {
         width:100%;
         margin:0 auto;
      }
      #left_col {
         float:left;
         width:18%;
      }
      #right_col {
         float:right;
         width:82%;
      }
      </style>

    <div id="wrap">
      <div id="left_col">
        <img src="pic1.png" style="max-height: 100%; max-width: 100%"/>
      </div>
      <div id="right_col">
        <ul style="list-style-type: none">
          <li>Hello ! I'm Carlo Wiesse.</li>
          <li>I love drones and how these compact flying companions can provide information about their surroundings to help us solve so many problems.</li>
          <li>The topic of my Master's thesis was learning-based visual-inertial localization systems for autonomous drones.</li>
          <li>I'm now looking for a job, so feel free to contact me ! I always look forward to joining a team of motivated and talented individuals.</li>
        </ul>
      </div>
    </div>
    <p>&nbsp;</p> 
    <p></p>
  </section>
  
  <header>
    <h1>{{ include.title | default: page.title }}</h1>
  </header>
  
  <section>
    <ul class="archive">
      {% for post in site.posts %}
      <li>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </section-->
  
</article>
